<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title></title>
</head>
<body layout:fragment="catalog">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Categories</h3>
    </div>
    <div class="list-group">
        <div data-th-each="genre : ${genres}">
            <a th:classappend="${!beans.securityContextFacade.isAdmin()}? 'list-group-item'"
               href="#"
               data-th-href="@{'/store/genres/' + ${genre.id}}"
               data-th-text="${genre.title}"></a>

            <a th:if="${beans.securityContextFacade.isAdmin()}" href="#"
               data-th-href="@{'/store/genres/edit/' + ${genre.id}}">
                <span class="glyphicon glyphicon-edit"/>
            </a>
            <a th:if="${beans.securityContextFacade.isAdmin()}" href="#"
               data-th-href="@{'/store/genres/delete/' + ${genre.id}}">
                <span class="glyphicon glyphicon-remove"/>
            </a>
        </div>
    </div>
</div>
</body>
</html>