<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="master">
<head>
    <title>Blog Index</title>
</head>
<body>
    <section layout:fragment="content">
        <h2 th:text="${blog.title}"></h2>

        <div class="row" th:each="post : ${blog.posts}">
            <div class="col-md-6">
                <h3 th:text="${post.title}"/>
                <p th:text="${post.text}"></p>
            </div>

        </div>
    </section>


</body>
</html>