<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="master">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Home page</title>
</head>
<body>
<section layout:fragment="sidebar">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Categories</h3>
        </div>
        <div class="list-group">
            <li class="list-group-item" data-th-each="genre : ${genres}">
                <a href="#" data-th-href="@{'/store/genres/' + ${genre.id}}" data-th-text="${genre.title}"></a>
                <a th:if="${#httpServletRequest.remoteUser != null}" href="#" data-th-href="@{'/store/genres/edit/' + ${genre.id}}">
                    <span class="glyphicon glyphicon-edit"/>
                </a>
                <a th:if="${#httpServletRequest.remoteUser != null}" href="#" data-th-href="@{'/store/genres/delete/' + ${genre.id}}">
                    <span class="glyphicon glyphicon-remove"/>
                </a>
            </li>
        </div>
    </div>
</section>
<section layout:fragment="content">
    <h2 th:text="#{home.welcome}">Welcome to our grocery store!</h2>
    <h2 th:text="${locale}"></h2>
    <h3 th:text="${message}"></h3>
    <h3 th:text="${curDate}"></h3>
    <span th:inline="text">[[${'Current date is : '+beans.dateFormatter.getCurrentDate()}]]</span>

    <p>This is a paragraph from content page 1</p>


</section>
<footer>
    <p layout:fragment="custom-footer">This is some footer content from content page 1</p>
</footer>
</body>
</html>
