<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="master">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Home page</title>
</head>
<body>
<section layout:fragment="sidebar">
    <div layout:include="store/catalog :: catalog"></div>
</section>
<section layout:decorator="master" layout:fragment="content2">
    <h2 th:text="#{home.welcome}">Welcome to our grocery store!</h2>
    <h2 th:text="${locale}"></h2>
    <h3 th:text="${message}"></h3>
    <h3 th:text="${curDate}"></h3>
    <span th:inline="text">[[${'Current date is : '+beans.dateFormatter.getCurrentDate()}]]</span>

    <p>This is a paragraph from content page 1</p>


</section>
<footer>
    <p layout:fragment="custom-footer">This is some footer content from content page 1</p>
</footer>
</body>
</html>
