<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title> <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">eStore</title></title>
    <!--

   NATIVE WAY OF LAYOUTING
   http://blog.codeleak.pl/2013/11/thymeleaf-template-layouts-in-spring.html

   -->

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css"
          href="/resources/css/site.css"/>
    <link rel="stylesheet" type="text/css"
          href="/resources/css/social-buttons.css"/>
    <link th:href="@{/webjars/font-awesome/4.0.3/css/font-awesome.min.css}" rel="stylesheet"/>

</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">eStore</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/}" th:text="#{menu.home}">Home</a></li>
            <li><a th:href="@{/blog}" th:text="#{menu.blog}">Blog</a></li>
            <li><a th:href="@{/forum}" th:text="#{menu.forum}">Forum</a></li>
            <li><a th:href="@{/catalog}" th:text="#{menu.catalog}">Catalog</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">S<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#">
                    <!--<img src="Cart.png" height="24"/>-->
                    <span>0 items</span>
                </a>
            </li>
            <li class="dropdown">

                <a th:if="${#httpServletRequest.remoteUser == null}" href="/login">
                    <span th:text="#{acc.hello}">Hello Guest</span><br></br>
                    <span th:text="#{acc.login}">Log In</span>
                </a>
                <a th:if="${#httpServletRequest.remoteUser != null}" href="#" class="dropdown-toggle"
                   data-toggle="dropdown">
                    <span th:text="${#httpServletRequest.remoteUser}" class="bold"></span><br></br>
                    <span th:text="#{acc.myacc}">My Account</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Logout" th:value="#{acc.logout}"/>
                        </form>
                    </li>
                    <li><a href="#" th:text="#{acc.mybasket}">My Basket</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <!--data-th-if="${useSideBar}"-->
        <div class="col-md-2">
            <section layout:fragment="sidebar">

            </section>
        </div>
        <div class="col-md-10">
            <section layout:fragment="content">
                <p>Page content goes here</p>
            </section>
        </div>
<!--        <div data-th-if="${!useSideBar}"  class="col-md-12">
            <section layout:fragment="content">
                <p>Page content goes here</p>
            </section>
        </div>-->
    </div>
    <div class="row">
        <div class="col-md-12">
            <footer id="footer">
                <!--<p layout:fragment="custom-footer">Custom footer here</p>-->
                <p>&copy; 2014, Your Company Limited</p>
            </footer>
        </div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"
        th:src="@{/webjars/jquery/2.1.0/jquery.js}"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.1.1/js/bootstrap.min.js}" rel="stylesheet"></script>
<script src="http://http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.0.0.js"
        th:src="@{/webjars/knockout/3.0.0/knockout.js}"></script>


<script src="/resources/js/estore.startup.js"></script>
<script src="/resources/js/estore.common.js"></script>
<script src="/resources/js/estore.filepick.js"></script>
</body>
</html>