<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="master">
<head>
    <title>Admin SQL</title>
</head>
<body>
<section layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <h2>Execute query</h2>

            <form th:action="@{/admin/exec}" th:object="${ep}" method="post">
                <div class="form-group">
                    <label>Query</label>
                    <textarea cols="90" rows="4" th:field="*{query}"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Go!</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Error: </label>
            <label data-th-text="${ep.err}"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div th:if="${not #lists.isEmpty(ep.result)}">
                <table class="table">
                    <thead>
                    <tr>
                        <td data-th-each="col : ${ep.result[0]}"
                            data-th-text="${col.key}">
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-th-each="cols : ${ep.result}">
                        <td data-th-each="col : ${cols}" data-th-text="${col.value}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


</body>
</html>